*{
	margin:0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	text-align: center;
}

.portada{
	width: 80%;
	margin-top: 6em;
	margin-bottom: 1em;
	padding-left: 20em;
}

.portada img{
	width: 100%;
}

.portfolio{
	margin-top: 7em;
}
.show{
	width: 100%;
}

footer{
	height:4em;
	width:100%;
	background: lightblue;
}

footer p{
	color:white;
	align-self: center;
	font-size:10px;
}



/*@media screen and (max-width: 1024px){

}

@media screen and (max-width: 990px){
	header{
		height:10em;
	}

	.masthead{
		width: 100%;
		margin-top: 12em;
		margin-bottom: 4em;
	}
	.caja{
		margin-top:8em;
		margin-bottom: 20em;
	}
}

@media screen and (max-width: 770px){
 .masthead{
 	margin-bottom: 1em;
 }
.portfolio{
	margin-top: 12em;
}

}*/
