*{
	margin:0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	text-align: center;
}
.blanca{
	background: white;
}
.portada{
	width: 80%;
	margin-top: 6em;
	margin-bottom: 1em;
	padding-left: 20em;
}

.portada img{
	width: 100%;
}

.portfolio{
	margin-top: 7em;
}
.show{
	width: 100%;
}

footer{
	height:4em;
	width:100%;
	background: lightblue;
}

footer p{
	color:white;
	align-self: center;
	font-size:10px;
}
